<%= form_with(model: movie) do |form| %>
  
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
       <div class="card-body p-5 text-center">
          <div class="card  bg-transparent text-white border">
            <div class="card-body p-5 text-center">
              <h2 class="fw-bold mb-2">Insert Movie's Details </h2> 
              <% if movie.errors.any? %>
                <% movie.errors.each do |error| %>
                  <%= error.full_message %>
                <% end %>
              <% end %>
              <div class="mb-4 mt-4">
                <%= form.file_field :poster, class:"form-control bg-light border", placeholder: "Image" %>
              </div>
              <div class="mb-4">
                <%= form.text_field :title, class:"form-control bg-light border", placeholder: "Movie Title", required: true%>
              </div>
              <div class="row ">
                <div class="col-md-6 mb-4">
                  <%= form.text_field :rating, class:"form-control  bg-light  border", placeholder: "IMDB rating" %>
                </div>
                <div class="col-md-6 mb-4 ">
                  <%= form.number_field :year, class:"form-control  bg-light border", placeholder: "Year" %>
                </div>
                <div class="mb-4 ">
                   <%= form.text_area :plot, placeholder: "Plot",  class:"form-control  bg-light border "%>
                </div>
                <div class="mb-4 ">
                  <%= form.label :tag_list, "Tags (separated by commas)" %>
                  <%= form.text_field :tag_list, placeholder:"Action, Drama..", class:"form-control  bg-light  border"%>
                </div>
               </div>
              <%= form.submit class:"btn btn-dark mt-5",value: "Save Movie" %>
            </div>
          </div>
        </div>
      <div>
    <%= link_to "Back to movies", movies_path, class:" mt-2 text-muted" %>
    </div>
  </div>
  
<% end %>
