

    <div class="col-md-4 text-center">

      <%= image_tag(movie.poster, class:"poster mt-5") if movie.poster.attached? %>

      
      <p class="text-white mt-4 fw-light fs-4 mb-2"><%= movie.title %></p>
      
      <div class="d-inline p-2 fw-lighter text-white"><%= movie.year %></div>
      <div class="d-inline p-2 fw-lighter text-white"><%= image_tag 'imdb.png', class:"logo" %><%= movie.rating%></div> 
      <br>
      <br> 
      
      <% movie.categories.each do |category| %>
        <p class="d-inline  fw-lighter text-white"><%= category.name %></p>
        <% if category != movie.categories.last %>
          <p class="d-inline  fw-lighter text-white">|</p>
        <% end %>
      <%end%>

      <p>
        <%= link_to "Show this movie", movie, class:"btn btn-outline-light  border rounded-pill mt-4 btn-outline" %>
      </p>
    </div>
