<div class="container ">
  <%= search_form_for @q do |f| %>
    <div class="input-group">
      <%= f.text_field :title_or_categories_name_cont, class: "form-control ", placeholder: "Insert title" %>
      <%= f.submit class: "btn btn-outline-light " %>
    </div>
  <%end%>
  <div class="row mt-5">
    <% @movies.each do |movie| %>
      
      <%= render movie %>
      <p>
        <%= link_to "Show this movie", movie, class: "btn btn-outline-light  border rounded-pill mt-4 btn-outline" %>
      </p>
      </div>
    <% end %>
    
  </div>
  <div class="d-flex justify-content-end">
    <%= paginate @movies %>
  <div>
  </div>

