<div class='container text-center'>
  <%= image_tag 'profile.png', class:"profile"%><br>
  <%=link_to @user.email%><br>
  <h3 class="text-white mb-2 mt-5">Your list</h3>
  <div class="row mt-5">
    <ul>
      <% @movies.each do |movie| %>
        <% if movie.users_movies.first.status == 'want_to_see'%>
          <li>
            <%=link_to movie.title,movie_path(movie) %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <h3 class="text-white mb-2 mt-5">Your likes</h3>
  <div class="row mt-5">
    <ul>
      <% @movies.each do |movie| %>
        <% if movie.users_movies.first.status == 'like' %>
          <li>
            <%=link_to movie.title,movie_path(movie)%>
          </li>
        <% end %>
      <% end %>
    </div>
  </ul>
  <h3 class="text-white mb-2 mt-5">Your dislikes</h3>
  <div class="row mt-5">
    <ul>
      <% @movies.each do |movie| %>
        <% if movie.users_movies.first.status == 'dislike' %>
          <li>
            <%=link_to movie.title,movie_path(movie)%>
          </li>
        <% end %>
      <% end %>
    </div>
  </ul>
  <%if current_user == @user%>
    <h3 class="text-white mb-2 mt-5">Check out these movies</h3>
    <div class="row mt-5">
      <% @recommended_movies.each do |r_movie| %>
        <%= render r_movie %>
      <% end %>
    </div>
  <% end %>
</div>
