<div class='container text-center text-white'>
  <%= image_tag 'profile.png', class:"profile"%><br>
  <%= @user.email%><br>
  <div class="row mt-3">
    <div class="col-md-4 text-center">
      <h3 class="text-white mb-2 mt-5">Your list <i class="bi bi-card-checklist"></i></h3>
      <div class="row m-5">
        <% @movies.each do |movie| %>
          <% if movie.users_movies.first.status == 'want_to_see'%>
            <div class="col-md-4 text-center">
              <%= image_tag(poster_for_movie(movie),class:"small-poster")%>
              <p class="text-white mt-2 fw-light fs-6 mb-2"><%=link_to movie.title,movie_path(movie) %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <h3 class="text-white mb-2 mt-5">Your likes <i class="bi bi-hand-thumbs-up"></i></h3>
      <div class="row m-5">
        <% @movies.each do |movie| %>
          <% if movie.users_movies.first.status == 'like' %>
            <div class="col-md-4 text-center">
              <%= image_tag(poster_for_movie(movie),class:"small-poster")%>
              <p class="text-white mt-2 fw-light fs-6 mb-2"><%=link_to movie.title,movie_path(movie) %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <h3 class="text-white mb-2 mt-5">Your dislikes <i class="bi bi-hand-thumbs-down"></i>
      </h3>
      <div class="row m-5">
        <% @movies.each do |movie| %>
          <% if movie.users_movies.first.status == 'dislike' %>
            <div class="col-md-4 text-center">
              <%= image_tag(poster_for_movie(movie),class:"small-poster")%>
              <p class="text-white mt-2 fw-light fs-6 mb-2"><%=link_to movie.title,movie_path(movie) %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <%if current_user == @user%>
    <h3 class="text-white mb-2 mt-5">Check out these movies</h3>
    <div class="row mt-5">
      <% @recommended_movies.each do |r_movie| %>
        <%= render r_movie %>
      <% end %>
    </div>
  <% end %>
</div>
