<div class="container ">
  <%= search_form_for @q, url: search_user_users_path, method: :get do |f| %>
    <div class="input-group">
      <%= f.text_field :username_eq, class: "form-control ", placeholder: "Insert username" %>
      <%= f.submit class: "btn btn-outline-light " %>
    </div>
  <%end%>
  <div class="row mt-5 text-white">
    <% if @users.present?%>
      <% @users.each do |user| %>
        <%= image_tag 'profile.png', class: 'profile'%>
        <%= user.username%>
        <%= friend_button(user)%>
      <%end%>
    <%end%>
  </div>
</div>
