

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card-body p-5 text-center ">
              <div class="card  border rounded-3 bg-transparent border-white text-light" ;>
                <div class="card-body p-5 text-center">
                    <h2 class="fw-bold mb-2">Sign in</h2> 
                    
                    <div class="mb-4 mt-5">
                      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control bg-light border", placeholder: "Your email" %>
                    </div>
              
                    <div class="mb-4">
                      <%= f.password_field :password, autocomplete: "current-password", class:"form-control bg-light border", placeholder: "Your password" %>
                    </div>
                    
                  <div class="actions">
                    <%= f.submit "Log in", class:"btn btn-dark mb-5 mt-4" %>
                  </div>


                  <%= render "devise/shared/links" %>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div>
<% end %>



