<!DOCTYPE html>
<html>
  <head>
    <title>MovieRecommendator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
 
 <body>
    <%= render "layouts/navbar" if user_signed_in? %>
    <% if notice.present? %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-warning"><i class="bi bi-exclamation-circle-fill"></i><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
